---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/contacts/con_3c94837a-bcb3-11f1-b3fd-f32796e9af7a
    body:
      encoding: UTF-8
      string: '{"title":"CEO","overrides":{"title":true},"external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"con_3c94837a-bcb3-11f1-b3fd-f32796e9af7a","customer_uuid":null,"customer_external_id":"overrides-vcr-base","data_source_uuid":"ds_27917f42-bcb2-11f1-b389-43b0d7aec832","position":1,"external_id":null,"first_name":"Vcr","last_name":"Contact","title":"CEO","email":null,"phone":null,"linked_in":null,"twitter":null,"notes":null,"last_seen":null,"custom":{},"overrides":{"title":true}}'
  recorded_at: Wed, 30 Sep 2026 09:45:23 GMT
recorded_with: VCR 6.4.0
