---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Entity Note Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_d460b0b0-b1c4-11f1-8a47-c3d8d7d32cd9","name":"Entity Note
        Test Data Source","system":"Custom","created_at":"2026-09-16T11:50:35.989Z","status":"idle"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"entity_note_cus_001","name":"Entity Note Customer","data_source_uuid":"ds_d460b0b0-b1c4-11f1-8a47-c3d8d7d32cd9"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":7458,"uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","external_id":"entity_note_cus_001","name":"Entity
        Note Customer","email":"","status":"New Lead","customer-since":null,"attributes":{"custom":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_d460b0b0-b1c4-11f1-8a47-c3d8d7d32cd9","data_source_uuids":["ds_d460b0b0-b1c4-11f1-8a47-c3d8d7d32cd9"],"external_ids":["entity_note_cus_001"],"company":"","country":null,"state":null,"city":null,"zip":null,"lead_created_at":null,"free_trial_started_at":null,"lead_status":"New
        Lead","free_subscriber_status":"Never a Free Subscriber","trial_subscriber_status":"Never
        had Trial","paid_subscriber_status":"Never a Paid Subscriber","address":{"country":null,"state":null,"city":null,"address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/7458-Entity_Note_Customer","billing-system-type":"Custom","currency":"USD","currency-sign":"$","owner":null,"website_url":null,"last_seen":null}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/contacts
    body:
      encoding: UTF-8
      string: '{"first_name":"Entity","last_name":"Note","email":"entity-note@example.com","external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"con_d48156da-b1c4-11f1-ba78-53409ba599d6","customer_uuid":null,"customer_external_id":null,"data_source_uuid":null,"position":12,"external_id":null,"first_name":"Entity","last_name":"Note","title":null,"email":"entity-note@example.com","phone":null,"linked_in":null,"twitter":null,"notes":null,"last_seen":null,"custom":{}}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/notes
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"This
        is a note"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_d48519f0-b1c4-11f1-ba78-23a6b54d80e3","customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","associated_object":"customer","associated_object_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"This
        is a note","call_duration":0,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.237Z","updated_at":"2026-09-16T11:50:36.237Z"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/notes
    body:
      encoding: UTF-8
      string: '{"associated_object_identifier":{"associated_object":"contact","method":"uuid","value":"con_d48156da-b1c4-11f1-ba78-53409ba599d6"},"type":"call","text":"Called
        the contact","author_email":"user@example.com","call_duration":90}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_d491b930-b1c4-11f1-ba78-6bcf7f50de7a","customer_uuid":null,"associated_object":"contact","associated_object_uuid":"con_d48156da-b1c4-11f1-ba78-53409ba599d6","type":"call","text":"Called
        the contact","call_duration":90,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.304Z","updated_at":"2026-09-16T11:50:36.304Z"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes?customer_uuid=cus_d46b6776-b1c4-11f1-8a47-4fe226441004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_d48519f0-b1c4-11f1-ba78-23a6b54d80e3","customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","associated_object":"customer","associated_object_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"This
        is a note","call_duration":0,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.237Z","updated_at":"2026-09-16T11:50:36.237Z"}],"cursor":"MjAyNi0wOS0xNlQxMTo1MDozNi4yMzc4MjQwMDBaJm5vdGVfZDQ4NTE5ZjAtYjFjNC0xMWYxLWJhNzgtMjNhNmI1NGQ4MGUz","has_more":false}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes?contact_uuid=con_d48156da-b1c4-11f1-ba78-53409ba599d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_d491b930-b1c4-11f1-ba78-6bcf7f50de7a","customer_uuid":null,"associated_object":"contact","associated_object_uuid":"con_d48156da-b1c4-11f1-ba78-53409ba599d6","type":"call","text":"Called
        the contact","call_duration":90,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.304Z","updated_at":"2026-09-16T11:50:36.304Z"}],"cursor":"MjAyNi0wOS0xNlQxMTo1MDozNi4zMDQ3MDQwMDBaJm5vdGVfZDQ5MWI5MzAtYjFjNC0xMWYxLWJhNzgtNmJjZjdmNTBkZTdh","has_more":false}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes?author_email=user%40example.com&type=call
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_d491b930-b1c4-11f1-ba78-6bcf7f50de7a","custom[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes/note_d48519f0-b1c4-11f1-ba78-23a6b54d80e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_d48519f0-b1c4-11f1-ba78-23a6b54d80e3","customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","associated_object":"customer","associated_object_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"This
        is a note","call_duration":0,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.237Z","updated_at":"2026-09-16T11:50:36.237Z"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes?customer_uuid=cus_d46b6776-b1c4-11f1-8a47-4fe226441004&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_d4b63990-b1c4-11f1-8a47-df27d5c109c0","customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","associated_object":"customer","associated_object_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"Second
        note","call_duration":0,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.560Z","updated_at":"2026-09-16T11:50:36.560Z"}],"cursor":"MjAyNi0wOS0xNlQxMTo1MDozNi41NjAyMDUwMDBaJm5vdGVfZDRiNjM5OTAtYjFjNC0xMWYxLThhNDctZGYyN2Q1YzEwOWMw","has_more":true}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/notes?cursor=MjAyNi0wOS0xNlQxMTo1MDozNi41NjAyMDUwMDBaJm5vdGVfZDRiNjM5OTAtYjFjNC0xMWYxLThhNDctZGYyN2Q1YzEwOWMw&customer_uuid=cus_d46b6776-b1c4-11f1-8a47-4fe226441004&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_d48519f0-b1c4-11f1-ba78-23a6b54d80e3","customer_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","associated_object":"customer","associated_object_uuid":"cus_d46b6776-b1c4-11f1-8a47-4fe226441004","type":"note","text":"This
        is an updated note","call_duration":0,"author":"Test User (user@example.com)","created_at":"2026-09-16T11:50:36.237Z","updated_at":"2026-09-16T11:50:36.525Z"}],"cursor":"MjAyNi0wOS0xNlQxMTo1MDozNi4yMzc4MjQwMDBaJm5vdGVfZDQ4NTE5ZjAtYjFjNC0xMWYxLWJhNzgtMjNhNmI1NGQ4MGUz","has_more":false}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
[...]
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/contacts/con_d48156da-b1c4-11f1-ba78-53409ba599d6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Contact deleted"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_d460b0b0-b1c4-11f1-8a47-c3d8d7d32cd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Source deleted"}'
  recorded_at: Wed, 16 Sep 2026 11:50:36 GMT
recorded_with: VCR 6.3.1
