---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/asp?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","asp":46107,"percentage-change":0.0},{"date":"2022-05-31","asp":22035,"percentage-change":-52.21}],"summary":{"current":18160,"previous":23087,"percentage-change":-21.34}}'
  recorded_at: Fri, 01 Jul 2016 14:47:44 GMT
recorded_with: VCR 3.0.3
