---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/asp?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2015-01-31","asp":12731},{"date":"2015-02-01","asp":0}],"summary":{"current":0,"previous":0,"percentage-change":0.0}}'
  recorded_at: Fri, 01 Jul 2016 14:47:44 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/validate_param!?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: Not Found
    headers:
      x-cascade:
      - pass
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 14 Sep 2023 01:56:48 GMT
recorded_with: VCR 5.1.0
