---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customer_notes
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"note","text":"This
        is a note"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_c9c9e7b6-9b47-11ee-a3d8-0f695c53544c","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"note","text":"This
        is a note","call_duration":0,"author":"Soeun Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-15T12:45:12.548Z","updated_at":"2023-12-15T12:45:12.548Z"}'
  recorded_at: Fri, 15 Dec 2023 12:45:12 GMT
recorded_with: VCR 6.2.0
