---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/mrr?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","mrr":383859969,"percentage-change":0.0,"mrr-new-business":2489791,"mrr-expansion":1502311,"mrr-contraction":-813307,"mrr-churn":-96723,"mrr-reactivation":54879},{"date":"2022-05-31","mrr":670280904,"percentage-change":74.62,"mrr-new-business":572899,"mrr-expansion":286342340,"mrr-contraction":-226820,"mrr-churn":-64750,"mrr-reactivation":5000}],"summary":{"current":670566870,"previous":670252256,"percentage-change":0.05}}'
  recorded_at: Fri, 01 Jul 2016 14:47:47 GMT
recorded_with: VCR 3.0.3
