---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/invoices?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a7a017343a1d885270af527619cf5399"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"uuid":"inv_6897d700-993e-41b5-bee6-f1569c92cf1e","external_id":"test_cus_inv_ext_id_2","date":"2023-10-30T00:00:00.000Z","due_date":"2023-10-30T00:00:00.000Z","currency":"EUR","customer_uuid":"cus_23551596-2c7e-11ee-9ea1-2bfe193640c0","errors":{},"line_items":[{"subscription_uuid":"sub_0259d4d5-a63d-4a8c-b901-4f93f95b74b0","subscription_external_id":"test_cus_sub_ext_id","prorated":false,"proration_type":null,"service_period_start":"2023-10-30T00:00:00.000Z","service_period_end":"2023-10-31T00:00:00.000Z","uuid":"li_94751507-6531-420f-92f8-57b6ad7a54e3","external_id":null,"type":"subscription","amount_in_cents":1000,"quantity":1,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0,"transaction_fees_in_cents":0,"account_code":"","plan_uuid":"pl_de9e281e-76cb-11ee-b63f-b727630ce4d4","transaction_fees_currency":null,"discount_description":null,"event_order":null,"balance_transfer":null}],"transactions":[]}],"total_pages":27,"current_page":1,"cursor":"MjAyMy0xMC0zMFQwMzoxNjo1Ni4wMzUwMTcwMDBaJmludl82ODk3ZDcwMC05OTNlLTQxYjUtYmVlNi1mMTU2OWM5MmNmMWU=","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 03:21:07 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/invoices?cursor=MjAyMy0xMC0zMFQwMzoxNjo1Ni4wMzUwMTcwMDBaJmludl82ODk3ZDcwMC05OTNlLTQxYjUtYmVlNi1mMTU2OWM5MmNmMWU%3D&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b3[...]
