---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/arr?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","arr":4606319628,"percentage-change":0.0},{"date":"2022-05-31","arr":8043370848,"percentage-change":74.62}],"summary":{"current":8046802440,"previous":8043027072,"percentage-change":0.05}}'
  recorded_at: Fri, 01 Jul 2016 14:47:45 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/validate_param!?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: Not Found
    headers:
      x-cascade:
      - pass
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 14 Sep 2023 01:56:40 GMT
recorded_with: VCR 5.1.0
