---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"Another Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3aaf84b099a0421ba8b59887443272c"
    body:
      encoding: UTF-8
      string: '{"external_id":"1184b750-5905-013c-13b1-46813c1ddd3d","name":"Another
        Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","uuid":"pl_1184b750-5905-013c-13b1-46813c1ddd3d"}'
  recorded_at: Mon, 30 Oct 2023 03:48:10 GMT
recorded_with: VCR 5.1.0
