---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/plans/pl_1184b750-5905-013c-13b1-46813c1ddd3d
    body:
      encoding: UTF-8
      string: '{"name":"Another Test Plan","interval_count":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"external_id":"1184b750-5905-013c-13b1-46813c1ddd3d","name":"Another
        Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","uuid":"pl_1184b750-5905-013c-13b1-46813c1ddd3d"}'
  recorded_at: Mon, 30 Oct 2023 03:50:22 GMT
recorded_with: VCR 5.1.0
