---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/account
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"40c9400b568f357a5ea27c39820ee12c"
      x-protected-by:
      - Sqreen
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Onboarding Test Company","currency":"EUR","time_zone":"Europe/Berlin","week_start_on":"sunday"}'
  recorded_at: Tue, 02 Mar 2021 21:38:10 GMT
recorded_with: VCR 5.1.0
