---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_5f1af63a-ec94-4688-9127-5eb816d05a8f/plans?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9a42cb386231839c75bf5c643192aefa"
    body:
      encoding: UTF-8
      string: '{"plans":[{"name":"A another Test Plan","uuid":"pl_e205d990-56e3-013c-13ac-46813c1ddd3d","data_source_uuid":"ds_f4dc3566-74b5-11ee-8820-478291cce06f","interval_count":1,"interval_unit":"month","external_id":"e205d990-56e3-013c-13ac-46813c1ddd3d"}],"current_page":1,"total_pages":2,"cursor":"MjAyMy0xMC0yN1QxMDo0NTozNS4yMjM5MDUwMDBaJjEwOTk1ODQ=","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 04:59:59 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_5f1af63a-ec94-4688-9127-5eb816d05a8f/plans?cursor=MjAyMy0xMC0yN1QxMDo0NTozNS4yMjM5MDUwMDBaJjEwOTk1ODQ%3D&per_page=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aa151a1968ab4b05766e958fb95b4f3e"
    body:
      encoding: UTF-8
      string: '{"plans":[{"name":"Test Plan","uuid":"pl_e6ffcc84-749a-11ee-be12-f32dce10118e","data_source_uuid":"ds_e685f09e-749a-11ee-8624-6baa0e7529f6","interval_count":7,"interval_unit":"day","external_id":"test_cus_pl_ext_id"}],"cursor":"MjAyMy0xMC0yN1QwNzozMTo1NC40MzQzNDkwMDBaJjEwOTk1MzI=","has_more":false}'
  recorded_at: Mon, 30 Oct 2023 04:59:59 GMT
recorded_with: VCR 5.1.0
