---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_5f1af63a-ec94-4688-9127-5eb816d05a8f/plans?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05dc11c33b9948d5c36efefc64f8bcae"
    body:
      encoding: UTF-8
      string: '{"plans":[{"name":"A another Test Plan","uuid":"pl_e205d990-56e3-013c-13ac-46813c1ddd3d","data_source_uuid":"ds_f4dc3566-74b5-11ee-8820-478291cce06f","interval_count":1,"interval_unit":"month","external_id":"e205d990-56e3-013c-13ac-46813c1ddd3d"}],"current_page":1,"total_pages":2}'
  recorded_at: Mon, 30 Oct 2023 04:56:59 GMT
recorded_with: VCR 5.1.0
