---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/customer-count?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","customers":585,"percentage-change":0.0},{"date":"2022-05-31","customers":602,"percentage-change":2.91}],"summary":{"current":608,"previous":603,"percentage-change":0.83}}'
  recorded_at: Fri, 01 Jul 2016 14:47:50 GMT
recorded_with: VCR 3.0.3
