---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/contacts
    body:
      encoding: UTF-8
      string: '{"first_name":"Task","last_name":"Contact","email":"task-contact@example.com","external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42","customer_uuid":null,"customer_external_id":null,"data_source_uuid":null,"position":12,"external_id":null,"first_name":"Task","last_name":"Contact","title":null,"email":"task-contact@example.com","phone":null,"linked_in":null,"twitter":null,"notes":null,"last_seen":null,"custom":{}}'
  recorded_at: Wed, 16 Sep 2026 11:50:35 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/tasks
    body:
      encoding: UTF-8
      string: '{"associated_object_identifier":{"associated_object":"contact","method":"uuid","value":"con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42"},"task_details":"Call
        the contact","assignee":"user@example.com","due_date":"2026-09-30T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"task_uuid":"d44747b0-b1c4-11f1-ba78-27afa29d88a9","customer_uuid":null,"associated_object":"contact","associated_object_uuid":"con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42","task_details":"Call
        the contact","assignee":"user@example.com","due_date":"2026-09-30T00:00:00.000Z","completed_at":null,"created_at":"2026-09-16T11:50:35.834Z","updated_at":"2026-09-16T11:50:35.834Z"}'
  recorded_at: Wed, 16 Sep 2026 11:50:35 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/tasks?contact_uuid=con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"task_uuid":"d44747b0-b1c4-11f1-ba78-27afa29d88a9","customer_uuid":null,"associated_object":"contact","associated_object_uuid":"con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42","task_details":"Call
        the contact","assignee":"user@example.com","due_date":"2026-09-30T00:00:00.000Z","completed_at":null,"created_at":"2026-09-16T11:50:35.834Z","updated_at":"2026-09-16T11:50:35.834Z"}],"cursor":"MjAyNi0wOS0xNlQxMTo1MDozNS44MzQwMzkwMDBaJmQ0NDc0N2IwLWIxYzQtMTFmMS1iYTc4LTI3YWZhMjlkODhhOQ==","has_more":false}'
  recorded_at: Wed, 16 Sep 2026 11:50:35 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/tasks?assignee=user%40example.com&completed=false&due_date_on_or_after=2026-09-01T00%3A00%3A00Z&due_date_on_or_before=2026-09-30T23%3A59%3A59Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encodin[...]
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/tasks/d44747b0-b1c4-11f1-ba78-27afa29d88a9
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 304
      message: Not Modified
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Sep 2026 11:50:35 GMT
[...]
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/contacts/con_d442b0e2-b1c4-11f1-ba78-6bbdf8257f42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Contact deleted"}'
  recorded_at: Wed, 16 Sep 2026 11:50:35 GMT
recorded_with: VCR 6.3.1
