---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/tasks/6c969fee-2179-11f0-8d8c-ef2a5afba642
    body:
      encoding: UTF-8
      string: '{"task_details":"This is updated task details text."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"task_uuid":"6c969fee-2179-11f0-8d8c-ef2a5afba642","customer_uuid":"cus_9c8cc2bd-762e-4d93-ae34-1cfb53a53f64","task_details":"This
        is updated task details text.","assignee":"keith+test1@chartmogul.com","due_date":"2025-04-30T00:00:00.000Z","completed_at":null,"created_at":"2025-04-25T02:03:04.503Z","updated_at":"2025-04-25T02:47:57.793Z"}'
  recorded_at: Fri, 25 Apr 2025 02:47:57 GMT
recorded_with: VCR 6.3.1
