---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Customer Invoices Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438","name":"Customer
        Invoices Test Data Source","system":"Import API","created_at":"2020-08-13T13:16:48.057Z","status":"idle"}'
  recorded_at: Thu, 13 Aug 2020 13:16:48 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"test_cus_ext_id","name":"Test Customer","email":"test@customer.com","country":"DE","city":"Berlin","data_source_uuid":"ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":58595918,"uuid":"cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f","external_id":"test_cus_ext_id","name":"Test
        Customer","email":"test@customer.com","status":"Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438","data_source_uuids":["ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438"],"external_ids":["test_cus_ext_id"],"company":"","country":"DE","state":null,"city":"Berlin","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":"Germany","state":null,"city":"Berlin","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#customers/58595918-Test_Customer","billing-system-type":"Import
        API","currency":"USD","currency-sign":"$"}'
  recorded_at: Thu, 13 Aug 2020 13:16:49 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"Test Plan","interval_count":7,"interval_unit":"day","external_id":"test_cus_pl_ext_id","data_source_uuid":"ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"dcb9743789ece18aa83503cf8497ab97"
    body:
      encoding: UTF-8
      string: '{"external_id":"test_cus_pl_ext_id","name":"Test Plan","interval_count":7,"interval_unit":"day","data_source_uuid":"ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438","uuid":"pl_3e5f356b-dd67-11ea-a4d7-d75d58ac0493"}'
  recorded_at: Thu, 13 Aug 2020 13:16:49 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"439a08b433594e29e8e718e2a60fa57e"
    body:
      encoding: ASCII-8BIT
      string: '{"customer_uuid":"cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f","invoices":[],"current_page":1,"total_pages":0}'
  recorded_at: Thu, 13 Aug 2020 13:16:49 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/customers/cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f/invoices
    body:
      encoding: UTF-8
      string: '{"invoices":[{"date":"2016-01-01 12:00:00 UTC","currency":"USD","line_items":[{"type":"subscription","subscription_external_id":"test_cus_sub_ext_id","service_period_start":"2016-01-01
        12:00:00 UTC","service_period_end":"2016-02-01 12:00:00 UTC","amount_in_cents":1000,"cancelled_at":"2016-01-15
        12:00:00 UTC","prorated":false,"quantity":5,"discount_amount_in_cents":1200,"discount_code":"DISCCODE","tax_amount_in_cents":200,"external_id":"test_cus_li_ext_id","plan_uuid":"pl_3e5f356b-dd67-11ea-a4d7-d75d58ac0493"}],"transactions":[{"type":"payment","date":"2016-01-01
        12:00:00 UTC","result":"successful","external_id":"test_cus_tr_ext_id"}],"external_id":"test_cus_inv_ext_id","customer_external_id":"test_cus_ext_id","due_date":"2016-01-07
        12:00:00 UTC"}],"customer_uuid":"cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"f1c2a89c182cb0355a03fb38879954e2"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"uuid":"inv_71831748-035b-437c-8d87-d92e5a053b22","date":"2016-01-01T12:00:00.000Z","due_date":"2016-01-07T12:00:00.000Z","external_id":"test_cus_inv_ext_id","currency":"USD","line_items":[{"uuid":"li_e8ab0761-d8ab-4a5b-b8d9-d4fa8d99c145","external_id":"test_cus_li_ext_id","type":"subscription","subscription_uuid":"sub_2c4df13e-ea6a-46d6-96db-81c76d9f9b0a","subscription_external_id":"test_cus_sub_ext_id","prorated":false,"service_period_start":"2016-01-01T12:00:00.000Z","service_period_end":"2016-02-01T12:00:00.000Z","plan_uuid":"pl_3e5f356b-dd67-11ea-a4d7-d75d58ac0493","amount_in_cents":1000,"quantity":5,"discount_code":"DISCCODE","discount_amount_in_cents":1200,"tax_amount_in_cents":200,"transaction_fees_in_cents":0,"account_code":""}],"transactions":[{"uuid":"tr_f8fe226a-da6a-4288-96a9-d08af5855bb2","external_id":"test_cus_tr_ext_id","type":"payment","date":"2016-01-01T12:00:00.000Z","result":"successful"}]}]}'
  recorded_at: Thu, 13 Aug 2020 13:16:51 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438/customers/cus_3e5f356a-dd67-11ea-a4d7-8733fa5e0c6f/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Aug 2020 13:16:51 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_3e1094b4-dd67-11ea-a4d7-db4f7f975438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Aug 2020 13:16:52 GMT
recorded_with: VCR 5.1.0
