---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2cbdc42d67c582b8b8e9b5b649142c6d"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_9afd5143-3884-4977-9281-dbb5f15df461","name":"Test Data
        Source","created_at":"2016-06-05T17:02:43.282Z","status":"never_imported"}'
  recorded_at: Sun, 05 Jun 2016 17:02:43 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d1f4cac283a3aecfeea3e952b417e64"
    body:
      encoding: UTF-8
      string: '{"data_sources":[{"uuid":"ds_9afd5143-3884-4977-9281-dbb5f15df461","name":"Test
        Data Source","created_at":"2016-06-05T17:02:43.282Z","status":"never_imported"}]}'
  recorded_at: Sun, 05 Jun 2016 17:02:43 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_9afd5143-3884-4977-9281-dbb5f15df461
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message:
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 05 Jun 2016 17:02:44 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fff2ed4cc06b2b7851a2db975ef7e229"
    body:
      encoding: UTF-8
      string: '{"data_sources":[]}'
  recorded_at: Sun, 05 Jun 2016 17:02:54 GMT
recorded_with: VCR 3.0.3
