---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_d0b59f2a-cf61-11f0-95c7-c7391c16ed34","name":"Test Data
        Source","system":"Custom","created_at":"2025-12-02T09:32:26.858Z","status":"idle"}'
  recorded_at: Tue, 02 Dec 2025 09:32:26 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources?with_auto_churn_subscription_setting=true&with_invoice_handling_setting=true&with_processing_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data_sources":[{"uuid":"ds_d0b59f2a-cf61-11f0-95c7-c7391c16ed34","name":"Test Data Source","system":"Custom","created_at":"2025-12-02T09:32:26.858Z","status":"idle","processing_status":{"processed":12,"failed":8,"pending":37},"auto_churn_subscription_setting":false,"invoice_handling_setting":{"manual":{"create_subscription_when_invoice_is":"open","update_subscription_when_invoice_is":"open","prevent_subscription_for_invoice_voided":true,"prevent_subscription_for_invoice_refunded":false,"prevent_subscription_for_invoice_written_off":true},"automatic":{"create_subscription_when_invoice_is":"open","update_subscription_when_invoice_is":"open","prevent_subscription_for_invoice_voided":true,"prevent_subscription_for_invoice_refunded":false,"prevent_subscription_for_invoice_written_off":true}}}]}'
  recorded_at: Tue, 02 Dec 2025 09:32:27 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources/ds_d0b59f2a-cf61-11f0-95c7-c7391c16ed34?with_auto_churn_subscription_setting=true&with_invoice_handling_setting=true&with_processing_status=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_d0b59f2a-cf61-11f0-95c7-c7391c16ed34","name":"Test Data Source","system":"Custom","created_at":"2025-12-02T09:32:26.858Z","status":"idle","processing_status":{"processed":12,"failed":8,"pending":37},"auto_churn_subscription_setting":false,"invoice_handling_setting":{"manual":{"create_subscription_when_invoice_is":"open","update_subscription_when_invoice_is":"open","prevent_subscription_for_invoice_voided":true,"prevent_subscription_for_invoice_refunded":false,"prevent_subscription_for_invoice_written_off":true},"automatic":{"create_subscription_when_invoice_is":"open","update_subscription_when_invoice_is":"open","prevent_subscription_for_invoice_voided":true,"prevent_subscription_for_invoice_refunded":false,"prevent_subscription_for_invoice_written_off":true}}}'
  recorded_at: Tue, 02 Dec 2025 09:32:27 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_d0b59f2a-cf61-11f0-95c7-c7391c16ed34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Dec 2025 09:32:27 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data_sources":[]}'
  recorded_at: Tue, 02 Dec 2025 09:32:28 GMT
recorded_with: VCR 6.3.1
