---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/arr?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2015-01-01","arr":0},{"date":"2015-01-02","arr":0},{"date":"2015-01-03","arr":0},{"date":"2015-01-04","arr":0},{"date":"2015-01-05","arr":0},{"date":"2015-01-06","arr":0},{"date":"2015-01-07","arr":0},{"date":"2015-01-08","arr":0},{"date":"2015-01-09","arr":409344},{"date":"2015-01-10","arr":409344},{"date":"2015-01-11","arr":409344},{"date":"2015-01-12","arr":772392},{"date":"2015-01-13","arr":772392},{"date":"2015-01-14","arr":670236},{"date":"2015-01-15","arr":670236},{"date":"2015-01-16","arr":670236},{"date":"2015-01-17","arr":670236},{"date":"2015-01-18","arr":790236},{"date":"2015-01-19","arr":790236},{"date":"2015-01-20","arr":790236},{"date":"2015-01-21","arr":790236},{"date":"2015-01-22","arr":659784},{"date":"2015-01-23","arr":646740},{"date":"2015-01-24","arr":646740},{"date":"2015-01-25","arr":646740},{"date":"2015-01-26","arr":0},{"date":"2015-01-27","arr":120000},{"date":"2015-01-28","arr":120000},{"date":"2015-01-29","arr":82452},{"date":"2015-01-30","arr":187440},{"date":"2015-01-31","arr":187440},{"date":"2015-02-01","arr":187440}],"summary":{"current":520452,"previous":520452,"percentage-change":0.0}}'
  recorded_at: Fri, 01 Jul 2016 14:47:45 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/validate_param!?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: Not Found
    headers:
      x-cascade:
      - pass
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 14 Sep 2023 01:56:40 GMT
recorded_with: VCR 5.1.0
