---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/contacts
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","email":"contact@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"con_36399f04-7686-11ee-86f6-8727560009c2","customer_uuid":"cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b","customer_external_id":"cus_004","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","position":1,"first_name":null,"last_name":null,"title":null,"email":"contact@example.com","phone":null,"linked_in":null,"twitter":null,"notes":null,"custom":{}}'
  recorded_at: Sun, 29 Oct 2023 18:08:50 GMT
recorded_with: VCR 5.1.0
