---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/subscription_events?customer_uuid=cus_713e32ae-74a1-11ee-b822-fbc804fece75&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12bad95caa37327853a1d9c7de804214"
    body:
      encoding: UTF-8
      string: '{"subscription_events":[{"id":374279754,"data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","customer_external_id":"cus_001","subscription_set_external_id":null,"subscription_external_id":"1234","plan_external_id":"plan_Gold_monthly_1_month","event_date":"2023-09-30T23:00:00Z","effective_date":"2023-09-30T23:00:00Z","event_type":"subscription_start","external_id":null,"errors":{},"created_at":"2023-10-27T10:40:29Z","updated_at":"2023-10-27T10:40:29Z","quantity":1,"currency":"EUR","amount_in_cents":100,"tax_amount_in_cents":0,"retracted_event_id":null}],"meta":{"next_key":374279754,"prev_key":null,"before_key":"2023-10-27T11:15:58.538Z","page":1,"total_pages":15},"cursor":"MjAyMy0xMC0yN1QxMDo0MDoyOS4wNTE2NDMwMDBaJjM3NDI3OTc1NA==","has_more":true}'
  recorded_at: Fri, 27 Oct 2023 11:15:58 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/subscription_events?cursor=MjAyMy0xMC0yN1QxMDo0MDoyOS4wNTE2NDMwMDBaJjM3NDI3OTc1NA%3D%3D&customer_uuid=cus_713e32ae-74a1-11ee-b822-fbc804fece75&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d6f3cf9a0c4c67756e6a6cf0372b6fb"
    body:
      encoding: UTF-8
      string: '{"subscription_events":[{"id":374279751,"data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","customer_external_id":"cus_001","subscription_set_external_id":null,"subscription_external_id":"123","plan_external_id":"plan_Gold_annual_1_year","event_date":"2023-10-26T23:00:00Z","effective_date":"2023-10-26T23:00:00Z","event_type":"subscription_start","external_id":null,"errors":{},"created_at":"2023-10-27T10:39:30Z","updated_at":"2023-10-27T10:39:30Z","quantity":1,"currency":"EUR","amount_in_cents":11100,"tax_amount_in_cents":0,"retracted_event_id":null}],"cursor":"MjAyMy0xMC0yN1QxMDozOTozMC43NTgxMzQwMDBaJjM3NDI3OTc1MQ==","has_more":true}'
  recorded_at: Fri, 27 Oct 2023 11:15:58 GMT
recorded_with: VCR 5.1.0
