---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["Name can''t be blank"],"plan_ids":["Plan ids can''t be blank"],"error_details":[{"param":"name","code":"blank","message":"Name
        can''t be blank"},{"param":"plan_ids","code":"blank","message":"Plan ids can''t
        be blank"}]}'
  recorded_at: Mon, 30 Oct 2023 04:00:23 GMT
recorded_with: VCR 5.1.0
