---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans/pl_de9e281e-76cb-11ee-b63f-b727630ce4d4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fe6ec38e44f2cb5de77ecfc2db2ddd07"
    body:
      encoding: UTF-8
      string: '{"external_id":"test_cus_pl_ext_id","name":"Test Plan","interval_count":7,"interval_unit":"day","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","uuid":"pl_de9e281e-76cb-11ee-b63f-b727630ce4d4"}'
  recorded_at: Mon, 30 Oct 2023 04:11:43 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_e6ae207a-ff32-4431-ae46-34f20b61e17a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"038c6bd0a24b7ef600020132047b1c09"
    body:
      encoding: UTF-8
      string: '{"name":"Another name","uuid":"plg_e6ae207a-ff32-4431-ae46-34f20b61e17a","plans_count":1}'
  recorded_at: Mon, 30 Oct 2023 04:11:44 GMT
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/plan_groups/plg_e6ae207a-ff32-4431-ae46-34f20b61e17a
    body:
      encoding: UTF-8
      string: '{"name":"Another name","plans":["pl_de9e281e-76cb-11ee-b63f-b727630ce4d4","pl_e205d990-56e3-013c-13ac-46813c1ddd3d"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f79332b69b7a92568a243cbe551b82ee"
    body:
      encoding: UTF-8
      string: '{"name":"Another name","uuid":"plg_e6ae207a-ff32-4431-ae46-34f20b61e17a","plans_count":2}'
  recorded_at: Mon, 30 Oct 2023 04:11:44 GMT
recorded_with: VCR 5.1.0
