---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/mrr-churn-rate?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","mrr-churn-rate":-0.17,"percentage-change":0.0},{"date":"2022-05-31","mrr-churn-rate":-74.52,"percentage-change":-43735.29}],"summary":{"current":-74.52,"previous":-0.17,"percentage-change":-43735.29}}'
  recorded_at: Fri, 01 Jul 2016 16:56:25 GMT
recorded_with: VCR 3.0.3
