---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_4b972154-32b7-11ee-8479-e7397c5276c0","name":"Data Source
        #1","system":"Import API","created_at":"2023-08-04T11:08:52.335Z","status":"idle"}'
  recorded_at: Fri, 04 Aug 2023 11:08:52 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_4b972154-32b7-11ee-8479-e7397c5276c0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7f412b3d063b292a077d878baef4b9f9"
    body:
      encoding: UTF-8
      string: '{"external_id":"384cbea0-14e5-013c-4c43-2a2e0284b079","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_4b972154-32b7-11ee-8479-e7397c5276c0","uuid":"pl_384cbea0-14e5-013c-4c43-2a2e0284b079"}'
  recorded_at: Fri, 04 Aug 2023 11:08:52 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_384cbea0-14e5-013c-4c43-2a2e0284b079","pl_387b0700-14e5-013c-8af2-06b15da68cc2"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56dacabcb0fe392889bc7f50ffcf913b"
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","uuid":"plg_c2c3f51f-822f-4b13-a3ff-58eb14ba327d","plans_count":2}'
  recorded_at: Fri, 04 Aug 2023 11:08:53 GMT
recorded_with: VCR 5.1.0
