---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_d7af0870-4db7-11ea-a748-3b84121ebe17","name":"Data Source
        #1","system":"Import API","created_at":"2020-02-12T16:50:57.869Z","status":"idle"}'
  recorded_at: Wed, 12 Feb 2020 16:50:58 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_d7af0870-4db7-11ea-a748-3b84121ebe17"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"e53de700ad9f3d935b0f624a5aa9dd75"
    body:
      encoding: UTF-8
      string: '{"external_id":"c49a57f0-2fe5-0138-b4fb-4e501129bd4a","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_d7af0870-4db7-11ea-a748-3b84121ebe17","uuid":"pl_c49a57f0-2fe5-0138-b4fb-4e501129bd4a"}'
  recorded_at: Wed, 12 Feb 2020 16:50:59 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_c49a57f0-2fe5-0138-b4fb-4e501129bd4a","pl_c4eade70-2fe5-0138-c99d-42eead14b4ad"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"e5a42fa30f5931fa83c95f2b73f6747f"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_ca20004e-ed97-4942-9b7f-567a17bbbe31","plans":[{"name":"A
        Test Plan","uuid":"pl_c49a57f0-2fe5-0138-b4fb-4e501129bd4a","data_source_uuid":"ds_d7af0870-4db7-11ea-a748-3b84121ebe17","interval_count":1,"interval_unit":"month","external_id":"c49a57f0-2fe5-0138-b4fb-4e501129bd4a"},{"name":"A
        another Test Plan","uuid":"pl_c4eade70-2fe5-0138-c99d-42eead14b4ad","data_source_uuid":"ds_d7af0870-4db7-11ea-a748-3b84121ebe17","interval_count":1,"interval_unit":"month","external_id":"c4eade70-2fe5-0138-c99d-42eead14b4ad"}]}'
  recorded_at: Wed, 12 Feb 2020 16:50:59 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/plan_groups/plg_ca20004e-ed97-4942-9b7f-567a17bbbe31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Feb 2020 16:50:59 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_ca20004e-ed97-4942-9b7f-567a17bbbe31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"5e4412e9-7aa2"
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html> <html lang="en" class="wf-loading"> <head> <meta charset="utf-8"> <title>Oops! That page doesn&#x27;t exist.</title> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <meta name="HandheldFriendly" content="True"> <meta name="MobileOptimized" content="320"> <meta name="viewport" content="width=device-width,initial-scale=1"> <meta http-equiv="cleartype" content="on"> <style>/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */a,body{color:#13324B}.page-error .section-title,.section-title,body,h1{font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 0,"lnum" 0,"dlig" 1}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:transparent}body{margin:0;font-family:"Source Sans Pro",sans-serif;font-size:16px;font-weight:400;line-height:1.4;background-color:#[...]
