---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_829c448a-5404-11ea-ab18-db11706d03de","name":"Data Source
        #1","system":"Import API","created_at":"2020-02-20T17:14:53.542Z","status":"idle"}'
  recorded_at: Thu, 20 Feb 2020 17:14:53 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_829c448a-5404-11ea-ab18-db11706d03de"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"902ad62e9093abc28f236ceffb652454"
    body:
      encoding: UTF-8
      string: '{"external_id":"6f5f2e80-3632-0138-ca32-42eead14b4ad","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_829c448a-5404-11ea-ab18-db11706d03de","uuid":"pl_6f5f2e80-3632-0138-ca32-42eead14b4ad"}'
  recorded_at: Thu, 20 Feb 2020 17:14:54 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_6f5f2e80-3632-0138-ca32-42eead14b4ad","pl_6f8e4b20-3632-0138-f01e-62b37fb4c770"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"8d079567f75302f08e366740c2dd92f4"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_b53fdbfc-c5eb-4a61-a589-85146cf8d0ab","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 17:14:54 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_b53fdbfc-c5eb-4a61-a589-85146cf8d0ab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"8d079567f75302f08e366740c2dd92f4"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_b53fdbfc-c5eb-4a61-a589-85146cf8d0ab","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 17:14:54 GMT
recorded_with: VCR 3.0.3
