---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_aa7503e8-53cd-11ea-aae9-e734eaddcf1d","name":"Data Source
        #1","system":"Import API","created_at":"2020-02-20T10:42:17.984Z","status":"idle"}'
  recorded_at: Thu, 20 Feb 2020 10:42:18 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_aa7503e8-53cd-11ea-aae9-e734eaddcf1d"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"054766b8d387cec3ef504b2ff6a997b6"
    body:
      encoding: UTF-8
      string: '{"external_id":"97490c90-35fb-0138-f016-62b37fb4c770","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_aa7503e8-53cd-11ea-aae9-e734eaddcf1d","uuid":"pl_97490c90-35fb-0138-f016-62b37fb4c770"}'
  recorded_at: Thu, 20 Feb 2020 10:42:18 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_97490c90-35fb-0138-f016-62b37fb4c770","pl_9781a5d0-35fb-0138-3705-364318904ce3"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"53b233ebc77584ca11ba27522debed3a"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_3c2b0732-cff0-437f-9f8d-a575ccc8b7e9","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 10:42:19 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"8f193c3d2a8b1865b2e2ca5f425c11f8"
    body:
      encoding: ASCII-8BIT
      string: '{"plan_groups":[{"name":"My plan group","uuid":"plg_3c2b0732-cff0-437f-9f8d-a575ccc8b7e9","plans_count":2},{"name":"My
        second plan group","uuid":"plg_1d960363-a335-4e21-90cd-f3686c143453","plans_count":2}],"current_page":1,"total_pages":1}'
  recorded_at: Thu, 20 Feb 2020 10:42:20 GMT
recorded_with: VCR 3.0.3
