---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic secret
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_502f5a1e-5404-11ea-ab18-ffd72d6e41ca","name":"Data Source
        #1","system":"Import API","created_at":"2020-02-20T17:13:28.947Z","status":"idle"}'
  recorded_at: Thu, 20 Feb 2020 17:13:29 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_502f5a1e-5404-11ea-ab18-ffd72d6e41ca"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic secret
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"b1925828957c62f22be7e57b394db7be"
    body:
      encoding: UTF-8
      string: '{"external_id":"3cf5d690-3632-0138-b59b-4e501129bd4a","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_502f5a1e-5404-11ea-ab18-ffd72d6e41ca","uuid":"pl_3cf5d690-3632-0138-b59b-4e501129bd4a"}'
  recorded_at: Thu, 20 Feb 2020 17:13:29 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_3cf5d690-3632-0138-b59b-4e501129bd4a","pl_3d3199f0-3632-0138-f01d-62b37fb4c770"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic secret
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"b64c5d68668419bcbb91a96e0ed6c00d"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_44f41eeb-f61a-4aef-b95d-f78841d61f1b","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 17:13:30 GMT
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/plan_groups/plg_44f41eeb-f61a-4aef-b95d-f78841d61f1b
    body:
      encoding: UTF-8
      string: '{"name":"A new plan group_name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic secret
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"6396163c6308c50b2dca74e3cc508a5b"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"A new plan group_name","uuid":"plg_44f41eeb-f61a-4aef-b95d-f78841d61f1b","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 17:13:30 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_44f41eeb-f61a-4aef-b95d-f78841d61f1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic secret
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"6396163c6308c50b2dca74e3cc508a5b"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"A new plan group_name","uuid":"plg_44f41eeb-f61a-4aef-b95d-f78841d61f1b","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 17:13:30 GMT
recorded_with: VCR 3.0.3
