---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab","name":"Data Source
        #1","system":"Import API","created_at":"2020-02-20T10:57:21.537Z","status":"idle"}'
  recorded_at: Thu, 20 Feb 2020 10:57:22 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A another Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - W/"680bf36b1c4f2dff6428304f51e2c5d1"
    body:
      encoding: UTF-8
      string: '{"external_id":"b1d2e190-35fd-0138-b593-4e501129bd4a","name":"A another
        Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab","uuid":"pl_b1d2e190-35fd-0138-b593-4e501129bd4a"}'
  recorded_at: Thu, 20 Feb 2020 10:57:22 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_b1fa8e50-35fd-0138-b594-4e501129bd4a","pl_b225c9f0-35fd-0138-b595-4e501129bd4a"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"7c591e7d5ee581e4ae49ffccb4165863"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_de7adee5-7a1e-4e3f-ac11-978c9294427a","plans_count":2}'
  recorded_at: Thu, 20 Feb 2020 10:57:23 GMT
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/plan_groups/plg_de7adee5-7a1e-4e3f-ac11-978c9294427a
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans_count":2,"plans":["pl_b1fa8e50-35fd-0138-b594-4e501129bd4a","pl_b225c9f0-35fd-0138-b595-4e501129bd4a","pl_b1d2e190-35fd-0138-b593-4e501129bd4a"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"5cd2492b2cccc2503702e906a10a0dab"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"My plan group","uuid":"plg_de7adee5-7a1e-4e3f-ac11-978c9294427a","plans_count":3}'
  recorded_at: Thu, 20 Feb 2020 10:57:23 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_de7adee5-7a1e-4e3f-ac11-978c9294427a/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"9d72543d2f2e6ffba5e5b8db51920b40"
    body:
      encoding: ASCII-8BIT
      string: '{"plans":[{"name":"A another Test Plan","uuid":"pl_b1d2e190-35fd-0138-b593-4e501129bd4a","data_source_uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab","interval_count":1,"interval_unit":"month","external_id":"b1d2e190-35fd-0138-b593-4e501129bd4a"},{"name":"A
        Test Plan","uuid":"pl_b1fa8e50-35fd-0138-b594-4e501129bd4a","data_source_uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab","interval_count":1,"interval_unit":"month","external_id":"b1fa8e50-35fd-0138-b594-4e501129bd4a"},{"name":"A
        another Test Plan","uuid":"pl_b225c9f0-35fd-0138-b595-4e501129bd4a","data_source_uuid":"ds_c4fdc7a2-53cf-11ea-aae9-cba10afd2cab","interval_count":1,"interval_unit":"month","external_id":"b225c9f0-35fd-0138-b595-4e501129bd4a"}],"current_page":1,"total_pages":1}'
  recorded_at: Thu, 20 Feb 2020 10:57:23 GMT
recorded_with: VCR 3.0.3
