---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/all?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YzU0NjYwNDU5ZTMzODBkYzUyNmVhYjNiZjlhZGIyOGQ6N2MyMDEzOTYzZjQ2NGZiMmQ3ZjVjOTJkZDZiMjk2NDQ=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2015-01-01","customer-churn-rate":0.0,"mrr-churn-rate":0.0,"ltv":0,"customers":0,"asp":12731,"arpa":0,"arr":0,"mrr":0},{"date":"2015-01-02","customer-churn-rate":0.0,"mrr-churn-rate":0.0,"ltv":0,"customers":0,"asp":12731,"arpa":0,"arr":0,"mrr":0},{"date":"2015-01-03","customer-churn-rate":0.0,"mrr-churn-rate":0.0,"ltv":0,"customers":0,"asp":12731,"arpa":0,"arr":0,"mrr":0},{"date":"2015-01-04","customer-churn-rate":0.0,"mrr-churn-rate":0.0,"ltv":0,"customers":0,"asp":12731,"arpa":0,"arr":0,"mrr":0},{"date":"2015-01-05","customer-churn-rate":0.0,"mrr-churn-rate":0.0,"ltv":0,"customers":0,"asp":12731,"arpa":0,"a[...]
