---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers/merges
    body:
      encoding: UTF-8
      string: '{"from":{"data_source_uuid":"ds_5ef7f768-62ea-11e6-8299-5bf2ca7f76bb","external_id":"34373d0a-39bc-475d-b1ba-a52069bcbd1c"},"into":{"data_source_uuid":"ds_5ef7f768-62ea-11e6-8299-5bf2ca7f76bb","external_id":"86198fd3-9d79-412c-ac89-b12b96ed1e36"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDFiNzI2YzI0ZjNiYjhlOTc0MmEwNGZiMDhhZmE3NzQ6NzJlNGMxYTdlZTFiYzlkNGZjMDBlZWUwNWIyN2QzMGY=
  response:
    status:
      code: 202
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 09 Nov 2016 16:19:02 GMT
recorded_with: VCR 3.0.3
