---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Another Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_fa91b4d8-32b4-11ee-9f96-5fb613b6553d","name":"Another Data
        Source","system":"Import API","created_at":"2023-08-04T10:52:17.411Z","status":"idle"}'
  recorded_at: Fri, 04 Aug 2023 10:52:17 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_fa91b4d8-32b4-11ee-9f96-5fb613b6553d"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9024bcfed20c258aa88296b352620be7"
    body:
      encoding: UTF-8
      string: '{"external_id":"e74b6560-14e2-013c-950e-7ab51896fb00","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_fa91b4d8-32b4-11ee-9f96-5fb613b6553d","uuid":"pl_e74b6560-14e2-013c-950e-7ab51896fb00"}'
  recorded_at: Fri, 04 Aug 2023 10:52:17 GMT
recorded_with: VCR 5.1.0
