---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Another Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05335923b74e9c38a5a5fe8e83ac0f79"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_77eb401d-fff6-43be-94dc-2cbc2e96e31e","name":"Another Data
        Source","created_at":"2016-06-05T19:47:08.020Z","status":"never_imported"}'
  recorded_at: Wed, 04 Jan 2017 02:32:48 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"data_source_uuid":"ds_77eb401d-fff6-43be-94dc-2cbc2e96e31e","name":"A
        Test Plan","interval_count":1,"interval_unit":"month","external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7086a2e8b932cc1ce3b47f8de5fdfdb8"
    body:
      encoding: UTF-8
      string: '{"uuid":"pl_ba808f0b-4c1c-4824-8705-a6736efa96dc","external_id":null,"name":"A
        Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_77eb401d-fff6-43be-94dc-2cbc2e96e31e"}'
  recorded_at: Sun, 05 Jun 2016 19:47:08 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans/pl_5ee8bf93-b0b4-4722-8a17-6b624a3af072
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2122e94312ef92cc077db62910743655"
    body:
      encoding: UTF-8
      string: '{"error": "Plan not found"}'
  recorded_at: Wed, 04 Jan 2017 02:32:48 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/plans/pl_5ee8bf93-b0b4-4722-8a17-6b624a3af072
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2122e94312ef92cc077db62910743655"
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Wed, 04 Jan 2017 02:32:48 GMT
recorded_with: VCR 3.0.3
