---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b1d120e492a570c10015d262525a56c5"
    body:
      encoding: UTF-8
      string: '{"plans":[{"external_id":"test_cus_pl_ext_id","name":"Test Plan","interval_count":7,"uuid":"pl_de9e281e-76cb-11ee-b63f-b727630ce4d4","interval_unit":"day","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46"}],"current_page":1,"total_pages":14,"cursor":"MjAyMy0xMC0zMFQwMjoyNzoyOC4wMzU1OTIwMDBaJjExMDAyMjQ=","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 03:47:38 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans?cursor=MjAyMy0xMC0zMFQwMjoyNzoyOC4wMzU1OTIwMDBaJjExMDAyMjQ%3D&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c7ce0218da7be85ab0c25ca6a191ce9"
    body:
      encoding: UTF-8
      string: '{"plans":[{"external_id":"e205d990-56e3-013c-13ac-46813c1ddd3d","name":"A
        another Test Plan","interval_count":1,"uuid":"pl_e205d990-56e3-013c-13ac-46813c1ddd3d","interval_unit":"month","data_source_uuid":"ds_f4dc3566-74b5-11ee-8820-478291cce06f"}],"cursor":"MjAyMy0xMC0yN1QxMDo0NTozNS4yMjM5MDUwMDBaJjEwOTk1ODQ=","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 03:47:38 GMT
recorded_with: VCR 5.1.0
