---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/opportunities
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-03-30","currency":"USD","amount_in_cents":100000,"type":"one-time","forecast_category":"best_case","win_likelihood":30,"custom":[{"key":"from_campaign","value":true}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"2f0b0748-e54b-11ee-81c1-5bf872d9787a","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-03-30","currency":"USD","amount_in_cents":100000,"type":"one-time","forecast_category":"best_case","win_likelihood":30,"custom":{"from_campaign":true},"created_at":"2024-03-18T17:15:56.960Z","updated_at":"2024-03-18T17:15:56.960Z"}'
  recorded_at: Mon, 18 Mar 2024 17:15:57 GMT
recorded_with: VCR 5.1.0
