---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/opportunities?customer_uuid=cus_8bae29d0-df51-11ee-88c8-97dc7855258a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"uuid":"3726cd86-e0f0-11ee-8d22-93b1d57bf35d","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-03-30","currency":"USD","amount_in_cents":100000,"type":"one-time","forecast_category":"best_case","win_likelihood":30,"custom":{"from_campaign":true},"created_at":"2024-03-13T04:14:41.711Z","updated_at":"2024-03-13T04:14:41.711Z"},{"uuid":"e4680418-e0ed-11ee-9b46-c36ccf904b17","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-03-30","currency":"USD","amount_in_cents":100000,"type":"one-time","forecast_category":"best_case","win_likelihood":30,"custom":{"from_campaign":false},"created_at":"2024-03-13T03:58:03.894Z","updated_at":"2024-03-13T03:58:03.894Z"},{"uuid":"03d7d5bc-df72-11ee-b10d-8b789d757c2a","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-04-30","currency":"USD","amount_in_cents":100000,"type":"recurring","forecast_category":"pipeline","win_likelihood":50,"custom":{"from_campaign":true},"created_at":"2024-03-11T06:38:47.879Z","updated_at":"2024-03-13T04:18:41.073Z"}],"cursor":"MjAyNC0wMy0xMVQwNjozODo0Ny44Nzk2NDYwMDBaJjAzZDdkNWJjLWRmNzItMTFlZS1iMTBkLThiNzg5ZDc1N2MyYQ==","has_more":false}'
  recorded_at: Mon, 18 Mar 2024 17:14:58 GMT
recorded_with: VCR 5.1.0
