---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/opportunities/3726cd86-e0f0-11ee-8d22-93b1d57bf35d
    body:
      encoding: UTF-8
      string: '{"estimated_close_date":"2024-04-30"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"3726cd86-e0f0-11ee-8d22-93b1d57bf35d","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-04-30","currency":"USD","amount_in_cents":100000,"type":"one-time","forecast_category":"best_case","win_likelihood":30,"custom":{"from_campaign":true},"created_at":"2024-03-13T04:14:41.711Z","updated_at":"2024-03-18T17:16:19.297Z"}'
  recorded_at: Mon, 18 Mar 2024 17:16:19 GMT
recorded_with: VCR 5.1.0
