---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/customer-count?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2015-01-01","customers":0},{"date":"2015-01-02","customers":0},{"date":"2015-01-03","customers":0},{"date":"2015-01-04","customers":0},{"date":"2015-01-05","customers":0},{"date":"2015-01-06","customers":0},{"date":"2015-01-07","customers":0},{"date":"2015-01-08","customers":0},{"date":"2015-01-09","customers":3},{"date":"2015-01-10","customers":3},{"date":"2015-01-11","customers":3},{"date":"2015-01-12","customers":4},{"date":"2015-01-13","customers":4},{"date":"2015-01-14","customers":4},{"date":"2015-01-15","customers":4},{"date":"2015-01-16","customers":4},{"date":"2015-01-17","customers":4},{"date":"2015-01-18","customers":5},{"date":"2015-01-19","customers":5},{"date":"2015-01-20","customers":5},{"date":"2015-01-21","customers":5},{"date":"2015-01-22","customers":4},{"date":"2015-01-23","customers":4},{"date":"2015-01-24","customers":4},{"date":"2015-01-25","customers":4},{"date":"2015-01-26","customers":0},{"date":"2015-01-27","customers":1},{"date":"2015-01-28","customers":1},{"date":"2015-01-29","customers":1},{"date":"2015-01-30","customers":1},{"date":"2015-01-31","customers":1},{"date":"2015-02-01","customers":1}],"summary":{"current":4,"previous":4,"percentage-change":0.0}}'
  recorded_at: Fri, 01 Jul 2016 14:47:51 GMT
recorded_with: VCR 3.0.3
