---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"data_source_uuid":null,"external_id":null,"name":null,"email":null,"company":null,"country":null,"state":null,"city":null,"zip":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 422
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"external_id":"A unique external ID is required for each
        customer.","name":"A name is required for each customer.","data_source_uuid":"A
        valid data source UUID is required for each customer."}}'
  recorded_at: Mon, 06 Jun 2016 15:26:39 GMT
recorded_with: VCR 3.0.3
