---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Invoice Payment Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ad541e45449462884dced1b527da7376"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_e25656b4-035e-433c-80e7-46c783271e9f","name":"Invoice Payment
        Test Data Source","created_at":"2016-06-23T14:47:21.996Z","status":"never_imported"}'
  recorded_at: Thu, 23 Jun 2016 14:47:22 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"data_source_uuid":"ds_e25656b4-035e-433c-80e7-46c783271e9f","external_id":"test_cus_ext_id","name":"Test
        Customer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aeef9d5a4cd0ede802c52624fed11704"
    body:
      encoding: UTF-8
      string: '{"uuid":"cus_fe40373d-fe78-4bd4-8c14-9d459abf7849","external_id":"test_cus_ext_id","name":"Test
        Customer","company":"","email":"","city":"","state":"","country":"","zip":"","data_source_uuid":"ds_e25656b4-035e-433c-80e7-46c783271e9f"}'
  recorded_at: Thu, 23 Jun 2016 14:47:22 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/customers/cus_fe40373d-fe78-4bd4-8c14-9d459abf7849/invoices
    body:
      encoding: UTF-8
      string: '{"invoices":[{"date":"2016-01-01 12:00:00 +0000","currency":"USD","line_items":[{"type":"one_time","amount_in_cents":1000}],"external_id":"test_tr_inv_ext_id"}],"customer_uuid":"cus_fe40373d-fe78-4bd4-8c14-9d459abf7849"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"150cd5f67ca1628b517a908c79aea1f0"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"uuid":"inv_8418d38b-e132-481f-ad4e-d914809f9e19","external_id":"test_tr_inv_ext_id","date":"2016-01-01T12:00:00.000Z","due_date":null,"currency":"USD","line_items":[{"uuid":"li_3be740bd-c725-444d-9745-6476fa3a6d02","external_id":null,"type":"one_time","description":"","amount_in_cents":1000,"quantity":1,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0}],"transactions":[]}]}'
  recorded_at: Thu, 23 Jun 2016 14:47:23 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/invoices/inv_8418d38b-e132-481f-ad4e-d914809f9e19/transactions
    body:
      encoding: UTF-8
      string: '{"type":"payment","date":"2016-01-01 12:00:00 +0000","result":"successful","external_id":"test_tr_ext_id","invoice_uuid":"inv_8418d38b-e132-481f-ad4e-d914809f9e19"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"48311e31dff0fe8a0f49c3aa28e735e4"
    body:
      encoding: UTF-8
      string: '{"uuid":"tr_448b68d3-63cd-4646-933b-c18807c16bad","external_id":"test_tr_ext_id","type":"payment","date":"2016-01-01T12:00:00.000Z","result":"successful"}'
  recorded_at: Thu, 23 Jun 2016 14:47:23 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_e25656b4-035e-433c-80e7-46c783271e9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message:
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jun 2016 14:47:23 GMT
recorded_with: VCR 3.0.3
