---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/ping
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":"pong!"}'
  recorded_at: Thu, 16 Jul 2020 13:12:25 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/ping
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW52YWxpZDppbnZhbGlk
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"code":401,"message":"No valid API key provided","param":null}'
  recorded_at: Thu, 16 Jul 2020 13:12:25 GMT
[...]
- request:
    method: get
    uri: https://api.chartmogul.com/v1/ping
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjNjZTUxNTNkMDYyNmQwNjE3YWQ4OWQyMzQ2OTA1OTc6OGE0YTgyOTMwYTVhMjgzOTA3MDgwNGYzMTdmNTZjYjA=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":"pong!"}'
  recorded_at: Thu, 16 Jul 2020 13:12:26 GMT
recorded_with: VCR 5.1.0
