---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers/attributes/tags
    body:
      encoding: UTF-8
      string: '{"email":"customer@example.com","tags":["important","Prio1"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string:
        '{"entries":[{"id":25647,"uuid":"cus_de305d54-75b4-431b-adb2-eb6b9e546012","external_id":"cus_0001","name":"Smith Company","email":"customer@example.com","status":"Active","customer-since":"2022-06-09T13:16:00-04:00","attributes":{"tags":["important","Prio1"],"stripe":{"coupon":true},"custom":{"CAC":213}}}]}'
  recorded_at: Mon, 07 Apr 2026 12:00:00 GMT
recorded_with: VCR 5.1.0
