---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"cus_007","name":"New Customer","email":"new_customer@example.com","city":"Berlin","data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","owner":"bruno+chartmogultest@chartmogul.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string:
        '{"id":133149145,"uuid":"cus_a4680a9c-76a4-11ee-83ab-d3b9aabc7f00","external_id":"cus_007","name":"New Customer","email":"new_customer@example.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","data_source_uuids":["ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46"],"external_ids":["cus_007"],"company":"","country":null,"state":null,"city":"Berlin","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"Berlin","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/133149145-New_Customer","billing-system-type":"Google Sheets","currency":"EUR","currency-sign":"€","owner":"bruno+chartmogultest@chartmogul.com","website_url":"https://chartmogul.com"}'
  recorded_at: Sun, 29 Oct 2023 21:46:40 GMT
recorded_with: VCR 5.1.0
