---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers/cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982/notes/note_23e5e234-94e7-11ee-b12d-33351b909dc1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_23e5e234-94e7-11ee-b12d-33351b909dc1","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"note","text":"faadsfafds","call_duration":0,"author":"Soeun
        Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-07T09:58:15.567Z","updated_at":"2023-12-07T09:58:15.567Z"}'
  recorded_at: Thu, 07 Dec 2023 15:02:32 GMT
recorded_with: VCR 5.1.0
