---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers/cus_23740208-2c7e-11ee-9ea2-ffd2435982bb/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string:
        '{"tags":["managed","important"],"stripe":{},"custom":{"CAC":213,"utmCampaign":"social media 1"}}'
  recorded_at: Mon, 07 Apr 2026 12:00:00 GMT
recorded_with: VCR 5.1.0
