---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers/cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string:
        '{"id":114167452,"uuid":"cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b","external_id":"cus_004","name":"Richard Hendricks","email":"customer@example.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":["managed"]},"data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","data_source_uuids":["ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46"],"external_ids":["cus_004"],"company":"Pied Piper","country":"US","state":"CA","city":"San Francisco","zip":"12345","lead_created_at":"2015-11-01T00:00:00.000Z","free_trial_started_at":"2015-11-07T01:20:00.000Z","address":{"country":"United States","state":"California","city":"San Francisco","address_zip":"12345"},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/114167452-Pied_Piper","billing-system-type":"Google Sheets","currency":"EUR","currency-sign":"€","owner":null,"website_url":"https://chartmogul.com"}'
  recorded_at: Sun, 29 Oct 2023 21:45:25 GMT
recorded_with: VCR 5.1.0
