---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/customers/cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982/notes/note_f5404708-94e6-11ee-bc22-eb6f2c664806
    body:
      encoding: UTF-8
      string: '{"text":"This is a note"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"note_f5404708-94e6-11ee-bc22-eb6f2c664806","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"note","text":"This
        is a note","call_duration":0,"author":"Soeun Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-07T09:56:57.306Z","updated_at":"2023-12-07T15:07:46.292Z"}'
  recorded_at: Thu, 07 Dec 2023 15:07:46 GMT
recorded_with: VCR 5.1.0
