---
http_interactions:
- request:
    method: patch
    uri: https://api.chartmogul.com/v1/customers/cus_a4680a9c-76a4-11ee-83ab-d3b9aabc7f00
    body:
      encoding: UTF-8
      string: '{"attributes":{"custom":{"Toggle":false}},"name":"Test Customer","email":"customer_test@example.com","company":"Curry
        42"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string:
        '{"id":133149145,"uuid":"cus_a4680a9c-76a4-11ee-83ab-d3b9aabc7f00","external_id":"cus_007","name":"Test Customer","email":"customer_test@example.com","status":"New Lead","customer-since":null,"attributes":{"custom":{"Toggle":true},"clearbit":{},"stripe":{},"tags":["wurst"]},"data_source_uuid":"ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46","data_source_uuids":["ds_03cfd2c4-2c7e-11ee-ab23-cb0f008cff46"],"external_ids":["cus_007"],"company":"Curry 42","country":"DE","state":null,"city":"Berlin","zip":null,"lead_created_at":"2016-01-01T14:30:00.000Z","free_trial_started_at":"2016-02-02T22:40:00.000Z","address":{"country":"Germany","state":null,"city":"Berlin","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/133149145-Curry_42","billing-system-type":"Google Sheets","currency":"EUR","currency-sign":"€","owner":"bruno+chartmogultest@chartmogul.com","website_url":"https://example.co"}'
  recorded_at: Sun, 29 Oct 2023 23:40:02 GMT
recorded_with: VCR 5.1.0
