---
http_interactions:
- request:
    method: put
    uri: https://api.chartmogul.com/v1/customers/cus_23740208-2c7e-11ee-9ea2-ffd2435982bb/attributes/custom
    body:
      encoding: UTF-8
      string: '{"custom":{"StringKey":"Another String Value","integer_key":5678,"timestamp_key":"2016-02-01
        00:00:00 UTC","boolean_key":false,"Toggle":false}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"custom":{"Toggle":false,"StringKey":"Another String Value","integer_key":5678,"timestamp_key":"2016-02-01T00:00:00.000Z","boolean_key":false}}'
  recorded_at: Mon, 30 Oct 2023 00:47:16 GMT
recorded_with: VCR 5.1.0
