---
http_interactions:
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/invoices/inv_I_dont_exists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid UUID passed","error_details":[{"param":"uuid","code":"invalid","message":"Invalid
        UUID passed"}]}'
  recorded_at: Thu, 14 Sep 2023 00:21:25 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/validate_param!/inv_I_dont_exists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: Not Found
    headers:
      x-cascade:
      - pass
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 14 Sep 2023 01:56:50 GMT
recorded_with: VCR 5.1.0
