---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/invoices?external_id=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"847e310b729cf16462446759730157ca"
    body:
      encoding: UTF-8
      string: '{"invoices":[{"uuid":"inv_c183cce8-a9f4-4992-b2d0-f42e16309866","external_id":"1","date":"2023-07-26T23:00:00.000Z","due_date":"2023-07-26T23:00:00.000Z","currency":"EUR","customer_uuid":"cus_1245b3b0-2c82-11ee-aef1-93c289e29cdb","errors":{},"line_items":[{"description":null,"uuid":"li_5d8424c3-4089-4e7f-a7b3-67f38fb35de9","external_id":null,"type":"one_time","amount_in_cents":11100,"quantity":1,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0,"transaction_fees_in_cents":0,"account_code":"","plan_uuid":null,"transaction_fees_currency":null,"discount_description":null,"event_order":null,"balance_transfer":null}],"transactions":[{"uuid":"tr_49973871-fc39-4fd9-8c68-6c0721b9543e","external_id":null,"type":"payment","date":"2023-07-26T23:00:00.000Z","result":"successful","amount_in_cents":11100,"transaction_fees_in_cents":null,"transaction_fees_currency":null},{"uuid":"tr_15dcd1f9-6d0f-4791-bd68-2829007eb74e","external_id":null,"type":"refund","date":"2023-07-26T23:00:00.000Z","result":"successful","amount_in_cents":11100,"transaction_fees_in_cents":null,"transaction_fees_currency":null}]}],"total_pages":1,"current_page":1,"cursor":"MjAyMy0wNy0yN1QxMzozMzoyNy4wNzg5NzEwMDBaJmludl9jMTgzY2NlOC1hOWY0LTQ5OTItYjJkMC1mNDJlMTYzMDk4NjY=","has_more":false}'
  recorded_at: Thu, 14 Sep 2023 00:23:01 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/validate_param!?external_id=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 404
      message: Not Found
    headers:
      x-cascade:
      - pass
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 14 Sep 2023 01:56:51 GMT
recorded_with: VCR 5.1.0
