---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customer_notes?customer_uuid=cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_18ffc3bc-9b45-11ee-8143-07ca86e5ee10","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"call","text":"This
        is a call","call_duration":60,"author":"Soeun Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-15T12:25:56.950Z","updated_at":"2023-12-15T12:25:56.950Z"}],"cursor":"MjAyMy0xMi0xNVQxMjoyNTo1Ni45NTA4MTcwMDBaJm5vdGVfMThmZmMzYmMtOWI0NS0xMWVlLTgxNDMtMDdjYTg2ZTVlZTEw","has_more":false}'
  recorded_at: Fri, 15 Dec 2023 12:26:40 GMT
recorded_with: VCR 6.2.0
