---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_521ffa10-5296-11ee-ad49-1f952cc8bc4f/subscriptions?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"effa60e1c3f81afe3729673c35fb1014"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_521ffa10-5296-11ee-ad49-1f952cc8bc4f","subscriptions":[{"external_id":"test_cus_sub_ext_id","uuid":"sub_093e376f-c0a3-4fbf-9638-a7f2892652ee","cancellation_dates":[],"subscription_set_external_id":"test_cus_set_ext_id","plan_uuid":"pl_3eed8a30-34c4-013c-84fd-1a602e6c8348","data_source_uuid":"ds_51d941ba-5296-11ee-bbde-3f7f0456f3a0"}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOS0xNFQwMDozMzoyOC4yMjYwMzgwMDBaJnN1Yl8wOTNlMzc2Zi1jMGEzLTRmYmYtOTYzOC1hN2YyODkyNjUyZWU=","has_more":false}'
  recorded_at: Thu, 14 Sep 2023 00:49:54 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_521ffa10-5296-11ee-ad49-1f952cc8bc4f/subscriptions?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"effa60e1c3f81afe3729673c35fb1014"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_521ffa10-5296-11ee-ad49-1f952cc8bc4f","subscriptions":[{"external_id":"test_cus_sub_ext_id","uuid":"sub_093e376f-c0a3-4fbf-9638-a7f2892652ee","cancellation_dates":[],"subscription_set_external_id":"test_cus_set_ext_id","plan_uuid":"pl_3eed8a30-34c4-013c-84fd-1a602e6c8348","data_source_uuid":"ds_51d941ba-5296-11ee-bbde-3f7f0456f3a0"}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOS0xNFQwMDozMzoyOC4yMjYwMzgwMDBaJnN1Yl8wOTNlMzc2Zi1jMGEzLTRmYmYtOTYzOC1hN2YyODkyNjUyZWU=","has_more":false}'
  recorded_at: Thu, 14 Sep 2023 00:49:54 GMT
recorded_with: VCR 5.1.0
