---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/arpa?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","arpa":656170,"percentage-change":0.0},{"date":"2022-05-31","arpa":1113423,"percentage-change":69.69}],"summary":{"current":1102906,"previous":1111529,"percentage-change":-0.78}}'
  recorded_at: Fri, 01 Jul 2016 14:47:45 GMT
recorded_with: VCR 3.0.3
