---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/opportunities?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"5bee0a42-df7b-11ee-9506-cb238e9b1218","customer_uuid":"cus_4e49211a-df7b-11ee-8949-df3c4571686f","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Evaluation","estimated_close_date":"2024-03-28","currency":"USD","amount_in_cents":50000,"type":"recurring","forecast_category":"best_case","win_likelihood":80,"custom":{"from_campaign":true},"created_at":"2024-03-11T07:45:41.133Z","updated_at":"2024-03-11T07:45:41.133Z"}],"cursor":"MjAyNC0wMy0xMVQwNzo0NTo0MS4xMzM4NjEwMDBaJjViZWUwYTQyLWRmN2ItMTFlZS05NTA2LWNiMjM4ZTliMTIxOA==","has_more":true}'
  recorded_at: Mon, 18 Mar 2024 17:39:22 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/opportunities?cursor=MjAyNC0wMy0xMVQwNzo0NTo0MS4xMzM4NjEwMDBaJjViZWUwYTQyLWRmN2ItMTFlZS05NTA2LWNiMjM4ZTliMTIxOA%3D%3D&customer_uuid=cus_8bae29d0-df51-11ee-88c8-97dc7855258a&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"03d7d5bc-df72-11ee-b10d-8b789d757c2a","customer_uuid":"cus_8bae29d0-df51-11ee-88c8-97dc7855258a","owner":"kamil+pavlicko@chartmogul.com","pipeline":"New
        Business","pipeline_stage":"Discovery","estimated_close_date":"2024-04-30","currency":"USD","amount_in_cents":100000,"type":"recurring","forecast_category":"pipeline","win_likelihood":50,"custom":{"from_campaign":true},"created_at":"2024-03-11T06:38:47.879Z","updated_at":"2024-03-13T04:18:41.073Z"}],"cursor":"MjAyNC0wMy0xMVQwNjozODo0Ny44Nzk2NDYwMDBaJjAzZDdkNWJjLWRmNzItMTFlZS1iMTBkLThiNzg5ZDc1N2MyYQ==","has_more":false}'
  recorded_at: Mon, 18 Mar 2024 17:39:23 GMT
recorded_with: VCR 5.1.0
