---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers/attributes/custom
    body:
      encoding: UTF-8
      string: '{"email":"overrides-vcr@example.com","custom":[{"type":"String","key":"MyChannel","value":"Facebook"}],"overrides":{"custom":{"MyChannel":true}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":300121664,"uuid":"cus_3436cdf0-bcb3-11f1-859f-6380207336a0","external_id":"overrides-vcr-base","name":"","email":"overrides-vcr@example.com","status":"New
        lead","customer-since":null,"attributes":{"custom":{"MyChannel":"Facebook"},"stripe":{},"tags":[]},"overrides":{"attributes":{"custom":{"MyChannel":true}}}}]}'
  recorded_at: Wed, 30 Sep 2026 09:45:20 GMT
recorded_with: VCR 6.4.0
