---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"cus_ov_001","company":"Pinned Co","data_source_uuid":"ds_27917f42-bcb2-11f1-b389-43b0d7aec832","overrides":{"company":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":300121717,"uuid":"cus_7fa05590-bcb3-11f1-b389-639c0905abb1","external_id":"cus_ov_001","name":"","email":"","status":"New
        Lead","customer-since":null,"attributes":{"custom":{},"stripe":{},"tags":[]},"overrides":{"company":true},"data_source_uuid":"ds_27917f42-bcb2-11f1-b389-43b0d7aec832","data_source_uuids":["ds_27917f42-bcb2-11f1-b389-43b0d7aec832"],"external_ids":["cus_ov_001"],"company":"Pinned
        Co","country":null,"state":null,"city":null,"zip":null,"lead_created_at":null,"free_trial_started_at":null,"lead_status":"New
        Lead","paid_subscriber_status":"Never a Paid Subscriber","address":{"country":null,"state":null,"city":null,"address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/300121717-Pinned_Co","billing-system-type":"Custom","currency":"USD","currency-sign":"$","owner":null,"website_url":null,"last_seen":null}'
  recorded_at: Wed, 30 Sep 2026 09:44:15 GMT
recorded_with: VCR 6.4.0
