---
http_interactions:
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/customers/cus_3436cdf0-bcb3-11f1-859f-6380207336a0/attributes/custom
    body:
      encoding: UTF-8
      string: '{"custom":["age"],"overrides":{"custom":{"age":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"custom":{"MyChannel":"Twitter"},"overrides":{"custom":{"MyChannel":true}},"message":"Custom
        attributes deleted from customer"}'
  recorded_at: Wed, 30 Sep 2026 09:44:45 GMT
recorded_with: VCR 6.4.0
