---
http_interactions:
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/customers/cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b/attributes/custom
    body:
      encoding: UTF-8
      string: '{"custom":["age"],"overrides":{"custom":{"age":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"custom":{"MyChannel":"Facebook"},"overrides":{"custom":{"MyChannel":true}},"message":"Custom attributes deleted from customer"}'
  recorded_at: Thu, 25 Sep 2026 09:00:00 GMT
recorded_with: VCR 5.1.0
