---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers/cus_23e01538-2c7e-11ee-b2ce-fb986e96e21b/attributes?attributes_with_history=custom.MyChannel&with_overrides=true
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tags":[],"custom":{"MyChannel":"Facebook"},"overrides":{"custom":{"MyChannel":true}},"historical_values":{"custom":{"MyChannel":[{"value":"Facebook","update_performed_at":"2026-09-02T10:00:00Z","update_performed_by":"user@example.com","initial":false}]}}}'
  recorded_at: Thu, 25 Sep 2026 09:00:00 GMT
recorded_with: VCR 5.1.0
