---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers/cus_3436cdf0-bcb3-11f1-859f-6380207336a0/attributes?attributes_with_history=custom.MyChannel&with_overrides=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tags":[],"custom":{"MyChannel":"Facebook"},"overrides":{"custom":{"MyChannel":true}},"historical_values":{"custom":{"MyChannel":[{"value":"Facebook","update_performed_at":"2026-09-30T09:44:25Z","update_performed_by":"API","initial":false},{"value":null,"update_performed_at":null,"update_performed_by":null,"initial":true}]}}}'
  recorded_at: Wed, 30 Sep 2026 09:44:26 GMT
recorded_with: VCR 6.4.0
