---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_23551596-2c7e-11ee-9ea1-2bfe193640c0/invoices?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5dab45371d26789fa23539e57a649410"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_23551596-2c7e-11ee-9ea1-2bfe193640c0","invoices":[{"uuid":"inv_8ab74614-4e62-49f6-b4b3-f779109e50d0","date":"2016-01-01T12:00:00.000Z","due_date":"2016-01-07T12:00:00.000Z","errors":{},"external_id":"test_cus_inv_ext_id_1","currency":"USD","line_items":[{"uuid":"li_dacad109-fc67-47f9-8381-462e0fe27201","external_id":"test_cus_li_ext_id","type":"subscription","subscription_uuid":"sub_0259d4d5-a63d-4a8c-b901-4f93f95b74b0","subscription_external_id":"test_cus_sub_ext_id","prorated":false,"proration_type":null,"service_period_start":"2016-01-01T12:00:00.000Z","service_period_end":"2016-02-01T12:00:00.000Z","plan_uuid":"pl_de9e281e-76cb-11ee-b63f-b727630ce4d4","amount_in_cents":1000,"quantity":5,"discount_code":"DISCCODE","discount_amount_in_cents":1200,"tax_amount_in_cents":200,"transaction_fees_in_cents":0,"account_code":"","transaction_fees_currency":null,"discount_description":null,"event_order":null}],"transactions":[{"uuid":"tr_13920c67-3782-4d8c-b835-03deb3dd471c","external_id":"test_cus_tr_ext_id","amount_in_cents":null,"type":"payment","date":"2016-01-01T12:00:00.000Z","result":"successful","transaction_fees_in_cents":null,"transaction_fees_currency":null}]}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0xMC0zMFQwMjo1ODo0MS4yNzkyNzIwMDBaJmludl84YWI3NDYxNC00ZTYyLTQ5ZjYtYjRiMy1mNzc5MTA5ZTUwZDA=","has_more":false}'
  recorded_at: Mon, 30 Oct 2023 03:00:42 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_23551596-2c7e-11ee-9ea1-2bfe193640c0/invoices?cursor=MjAyMy0xMC0zMFQwMjo1ODo0MS4yNzkyNzIwMDBaJmludl84YWI3NDYxNC00ZTYyLTQ5ZjYtYjRiMy1mNzc5MTA5ZTUwZDA%3D&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b1901b783b42c63a6d98916d81c9add8"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_23551596-2c7e-11ee-9ea1-2bfe193640c0","invoices":[],"cursor":null,"has_more":false}'
  recorded_at: Mon, 30 Oct 2023 03:00:42 GMT
recorded_with: VCR 5.1.0
