---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customer_notes?customer_uuid=cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_c9c9e7b6-9b47-11ee-a3d8-0f695c53544c","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"note","text":"This
        is a note","call_duration":0,"author":"Soeun Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-15T12:45:12.548Z","updated_at":"2023-12-15T12:45:12.548Z"}],"cursor":"MjAyMy0xMi0xNVQxMjo0NToxMi41NDgwNzAwMDBaJm5vdGVfYzljOWU3YjYtOWI0Ny0xMWVlLWEzZDgtMGY2OTVjNTM1NDRj","has_more":true}'
  recorded_at: Fri, 15 Dec 2023 12:59:24 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customer_notes?cursor=MjAyMy0xMi0xNVQxMjo0NToxMi41NDgwNzAwMDBaJm5vdGVfYzljOWU3YjYtOWI0Ny0xMWVlLWEzZDgtMGY2OTVjNTM1NDRj&customer_uuid=cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[{"uuid":"note_6bbb8a6e-9b45-11ee-8f1d-8f455cd2fcde","customer_uuid":"cus_58f81bdc-94e6-11ee-ba3e-63f79c1ac982","type":"call","text":"This
        is a updated note","call_duration":60,"author":"Soeun Lee[staff-user-2] (soeun+staff@chartmogul.com)","created_at":"2023-12-15T12:28:15.754Z","updated_at":"2023-12-15T12:45:33.363Z"}],"cursor":"MjAyMy0xMi0xNVQxMjoyODoxNS43NTQ0ODUwMDBaJm5vdGVfNmJiYjhhNmUtOWI0NS0xMWVlLThmMWQtOGY0NTVjZDJmY2Rl","has_more":false}'
  recorded_at: Fri, 15 Dec 2023 12:59:24 GMT
recorded_with: VCR 6.2.0
