---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/ltv?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","ltv":117173214,"percentage-change":0.0},{"date":"2022-05-31","ltv":65112456,"percentage-change":-44.43}],"summary":{"current":65112456,"previous":117173214,"percentage-change":-44.43}}'
  recorded_at: Fri, 01 Jul 2016 14:47:48 GMT
recorded_with: VCR 3.0.3
