---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Data Source #1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_23f61daa-529a-11ee-a770-8bcf16038407","name":"Data Source
        #1","system":"Import API","created_at":"2023-09-14T01:00:47.644Z","status":"idle"}'
  recorded_at: Thu, 14 Sep 2023 01:00:47 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"A Test Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_23f61daa-529a-11ee-a770-8bcf16038407"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"543da3c3d722030a13a71e084c534957"
    body:
      encoding: UTF-8
      string: '{"external_id":"10b3cb70-34c8-013c-84fe-1a602e6c8348","name":"A Test
        Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_23f61daa-529a-11ee-a770-8bcf16038407","uuid":"pl_10b3cb70-34c8-013c-84fe-1a602e6c8348"}'
  recorded_at: Thu, 14 Sep 2023 01:00:48 GMT
[...]
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plan_groups
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","plans":["pl_10b3cb70-34c8-013c-84fe-1a602e6c8348","pl_10e11f30-34c8-013c-1d1d-62917dd006a4"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83825f08a7fe0944dcce08f2a2ac943e"
    body:
      encoding: UTF-8
      string: '{"name":"My plan group","uuid":"plg_eddeabf1-d1b0-4b19-83fa-420e57f17204","plans_count":2}'
  recorded_at: Thu, 14 Sep 2023 01:00:48 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups/plg_eddeabf1-d1b0-4b19-83fa-420e57f17204/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a11e9362443cc9fa75f7b931f1872c32"
    body:
      encoding: UTF-8
      string: '{"plans":[{"name":"A Test Plan","uuid":"pl_10b3cb70-34c8-013c-84fe-1a602e6c8348","data_source_uuid":"ds_23f61daa-529a-11ee-a770-8bcf16038407","interval_count":1,"interval_unit":"month","external_id":"10b3cb70-34c8-013c-84fe-1a602e6c8348"},{"name":"A
        another Test Plan","uuid":"pl_10e11f30-34c8-013c-1d1d-62917dd006a4","data_source_uuid":"ds_23f61daa-529a-11ee-a770-8bcf16038407","interval_count":1,"interval_unit":"month","external_id":"10e11f30-34c8-013c-1d1d-62917dd006a4"}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOS0xNFQwMTowMDo0OC4zOTMyOTQwMDBaJjk3NjE0NQ==","has_more":false}'
  recorded_at: Thu, 14 Sep 2023 01:00:48 GMT
recorded_with: VCR 5.1.0
