---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups?page=3&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d956b2ca58aa398467e3c62fddb5bed"
    body:
      encoding: UTF-8
      string: '{"plan_groups":[{"name":"My second plan group","uuid":"plg_cb92ce3a-2196-4b1b-92e1-7bb7c01c359e","plans_count":1}],"current_page":3,"total_pages":8}'
  recorded_at: Mon, 30 Oct 2023 04:14:02 GMT
recorded_with: VCR 5.1.0
