---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plans?page=3&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8100c562c64eeaa702be7e13641f8297"
    body:
      encoding: UTF-8
      string: '{"plans":[{"external_id":"e1c26000-56e3-013c-fc49-2215549c3f98","name":"A
        Test Plan","interval_count":1,"uuid":"pl_e1c26000-56e3-013c-fc49-2215549c3f98","interval_unit":"month","data_source_uuid":"ds_f4dc3566-74b5-11ee-8820-478291cce06f"}],"current_page":3,"total_pages":14}'
  recorded_at: Mon, 30 Oct 2023 03:47:37 GMT
recorded_with: VCR 5.1.0
