---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/customer-churn-rate?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2022-04-30","customer-churn-rate":0.56,"percentage-change":0.0},{"date":"2022-05-31","customer-churn-rate":1.71,"percentage-change":205.36}],"summary":{"current":1.71,"previous":0.56,"percentage-change":205.36}}'
  recorded_at: Fri, 01 Jul 2016 14:47:49 GMT
recorded_with: VCR 3.0.3
