---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1cbe0a604591e2806e6d3efc2b086973"
    body:
      encoding: UTF-8
      string: '{"plan_groups":[{"name":"New Plan Group","uuid":"plg_5f1af63a-ec94-4688-9127-5eb816d05a8f","plans_count":1}],"current_page":1,"total_pages":8,"cursor":"MjAyMy0xMC0zMFQwNDowMTo0NS4yNDYwNzQwMDBaJjIxMTg5","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 04:15:40 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/plan_groups?cursor=MjAyMy0xMC0zMFQwNDowMTo0NS4yNDYwNzQwMDBaJjIxMTg5&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c9bbcc9142d6aaacdb219a6b25f92bb"
    body:
      encoding: UTF-8
      string: '{"plan_groups":[{"name":"My plan group","uuid":"plg_596af607-ea77-45a3-8d0b-5f1f6b31bf3b","plans_count":0}],"cursor":"MjAyMy0xMC0yN1QxMDo0MzoxMC41MTc3OTcwMDBaJjIxMTgy","has_more":true}'
  recorded_at: Mon, 30 Oct 2023 04:15:40 GMT
recorded_with: VCR 5.1.0
