---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/activities?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"description":"purchased the Test Plan1 plan","activity-mrr-movement":4004,"activity-mrr":4004,"activity-arr":48048,"date":"2016-01-01T12:00:00+00:00","type":"new_biz","currency":"EUR","subscription-external-id":"test_cus_sub_ext_id1","subscription-set-external-id":"test_cus_sub_set_id1","plan-external-id":"adcdb9f0-34c6-013c-82df-0230272d2d1f","customer-name":"Test
        Customer","customer-uuid":"cus_c10aa086-5298-11ee-82da-ebac6f7a03c3","customer-external-id":"test_cus_ext_id","billing-connector-uuid":"ds_c0d412aa-5298-11ee-bb1f-332cea9687ed","uuid":"561814e1-d7d3-42f3-8936-4689ec0fbb74"},{"description":"purchased
        the Test Plan2 plan","activity-mrr-movement":4004,"activity-mrr":8009,"activity-arr":96108,"date":"2016-01-01T12:00:00+00:00","type":"new_biz","currency":"EUR","subscription-external-id":"test_cus_sub_ext_id2","subscription-set-external-id":"test_cus_sub_ext_id2","subscription-set-external-id":"test_cus_sub_set_id1","plan-external-id":"ae02e740-34c6-013c-d52b-563f32a3b7a1","customer-name":"Test
        Customer","customer-uuid":"cus_c10aa086-5298-11ee-82da-ebac6f7a03c3","customer-external-id":"test_cus_ext_id","billing-connector-uuid":"ds_c0d412aa-5298-11ee-bb1f-332cea9687ed","uuid":"ff76d95f-0536-4b2e-85cf-cc49a42c8757"}],"has_more":true,"per_page":2,"cursor":"d868a892-37c7-45e3-ae84-e693181d2344"}'
  recorded_at: Fri, 27 Oct 2023 08:58:22 GMT
recorded_with: VCR 5.1.0
