---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_510b1395-4fe8-4d35-ae23-0e61f9a51e33/subscriptions?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"797037ae5a33dcae7de46e23dfdd4ec7"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_510b1395-4fe8-4d35-ae23-0e61f9a51e33","subscriptions":[{"uuid":"sub_9b3ccf25-4613-4af6-84b3-12026cfa4b7c","external_id":"test_cus_sub_ext_id","cancellation_dates":[],"plan_uuid":"pl_06ea83a9-f8c8-4ddd-a980-9ceffd27f107","data_source_uuid":"ds_55ab11fb-53e6-4468-aa95-bd582f14cac6"}],"current_page":1,"total_pages":1}'
  recorded_at: Thu, 23 Jun 2016 20:46:07 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers/cus_510b1395-4fe8-4d35-ae23-0e61f9a51e33/subscriptions?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"797037ae5a33dcae7de46e23dfdd4ec7"
    body:
      encoding: UTF-8
      string: '{"customer_uuid":"cus_510b1395-4fe8-4d35-ae23-0e61f9a51e33","subscriptions":[{"uuid":"sub_9b3ccf25-4613-4af6-84b3-12026cfa4b7c","external_id":"test_cus_sub_ext_id","cancellation_dates":[],"plan_uuid":"pl_06ea83a9-f8c8-4ddd-a980-9ceffd27f107","data_source_uuid":"ds_55ab11fb-53e6-4468-aa95-bd582f14cac6"}],"current_page":2,"total_pages":2}'
  recorded_at: Thu, 23 Jun 2016 20:46:07 GMT
recorded_with: VCR 3.0.3
