---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Customer Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"efc297a7a44e439e9e557cdb452df1f4"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_154b9620-a22a-478a-8b44-198d11cc9a85","name":"Customer
        Test Data Source","created_at":"2016-06-06T15:26:39.448Z","status":"never_imported"}'
  recorded_at: Mon, 06 Jun 2016 15:26:39 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/customers
    body:
      encoding: UTF-8
      string: '{"data_source_uuid":"ds_154b9620-a22a-478a-8b44-198d11cc9a85","external_id":"X1234","name":"Test
        Customer","email":"test@example.com","company":null,"country":"DE","state":null,"city":"Berlin","zip":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2bb61213c73b74bf7e3094b3a2814b1c"
    body:
      encoding: UTF-8
      string: '{"uuid":"cus_c4babf63-3eb9-4125-8687-2a0d781b0af2","external_id":"X1234","name":"Test
        Customer","company":"","email":"test@example.com","city":"Berlin","state":"","country":"DE","zip":"","data_source_uuid":"ds_154b9620-a22a-478a-8b44-198d11cc9a85"}'
  recorded_at: Mon, 06 Jun 2016 15:26:39 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f8b194be146b71827424808d2de63994"
    body:
      encoding: UTF-8
      string: '{"customers":[{"uuid":"cus_c4babf63-3eb9-4125-8687-2a0d781b0af2","external_id":"X1234","name":"Test
        Customer","company":"","email":"test@example.com","city":"Berlin","state":"","country":"DE","zip":"","data_source_uuid":"ds_154b9620-a22a-478a-8b44-198d11cc9a85"}],"current_page":1,"total_pages":1}'
  recorded_at: Mon, 06 Jun 2016 15:26:40 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/import/customers/cus_c4babf63-3eb9-4125-8687-2a0d781b0af2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Jun 2016 15:26:40 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"82f80d77a5a88d6de206bb1feeb897cc"
    body:
      encoding: UTF-8
      string: '{"customers":[],"current_page":1,"total_pages":0}'
  recorded_at: Mon, 06 Jun 2016 15:26:50 GMT
recorded_with: VCR 3.0.3
