---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Subscription Events Test ds_destroy"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","name":"Subscription
        Events Test ds_destroy","system":"Import API","created_at":"2022-05-27T21:54:14.203Z","status":"idle"}'
  recorded_at: Fri, 27 May 2022 21:54:14 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"external_id":"test_cus_ext_id","name":"Test Customer","data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":131944242,"uuid":"cus_8c92c01a-de07-11ec-bf89-8f7ace0c0ebe","external_id":"test_cus_ext_id","name":"Test
        Customer","email":"","status":"Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","data_source_uuids":["ds_8c554802-de07-11ec-94f4-e390518bbd37"],"external_ids":["test_cus_ext_id"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/131944242-Test_Customer","billing-system-type":"Import
        API","currency":"USD","currency-sign":"$"}'
  recorded_at: Fri, 27 May 2022 21:54:14 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"Test Plan1","interval_count":7,"interval_unit":"day","data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0b21f0d75302a76373931e37ba429605"
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"external_id":"795139e0-c035-013a-9407-0a902fab83ca","name":"Test
        Plan1","interval_count":7,"interval_unit":"day","data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","uuid":"pl_795139e0-c035-013a-9407-0a902fab83ca"}'
  recorded_at: Fri, 27 May 2022 21:54:14 GMT
- request:
    method: post
    uri: https://api.chartmogul.com/v1/subscription_events
    body:
      encoding: UTF-8
      string: '{"subscription_event":{"id":null,"data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","customer_external_id":"test_cus_ext_id","subscription_set_external_id":"","subscription_external_id":"test_cus_sub_ext_id1","plan_external_id":"","event_date":"2022-05-18T09:48:34Z","effective_date":"2021-12-30T00:01:00Z","event_type":"subscription_cancelled","external_id":"test_ev_id_delete_1","errors":null,"created_at":null,"updated_at":null,"quantity":"","currency":"","amount_in_cents":"","tax_amount_in_cents":null,"retracted_event_id":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"48983256e3214afc451392183977f77c"
      status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":138979493,"data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","customer_external_id":"test_cus_ext_id","subscription_set_external_id":"","subscription_external_id":"test_cus_sub_ext_id1","plan_external_id":"","event_date":"2022-05-18T09:48:34Z","effective_date":"2021-12-30T00:01:00Z","event_type":"subscription_cancelled","external_id":"test_ev_id_delete_1","errors":{},"created_at":"2022-05-27T21:54:15Z","updated_at":"2022-05-27T21:54:15Z","quantity":"","currency":"","amount_in_cents":"","tax_amount_in_cents":null,"retracted_event_id":null}'
  recorded_at: Fri, 27 May 2022 21:54:15 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/subscription_events?data_source_uuid=ds_8c554802-de07-11ec-94f4-e390518bbd37
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"791982e0cdffb65af28f52d42bd5f9e7"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"subscription_events":[{"id":138979493,"data_source_uuid":"ds_8c554802-de07-11ec-94f4-e390518bbd37","customer_external_id":"test_cus_ext_id","subscription_set_external_id":"","subscription_external_id":"test_cus_sub_ext_id1","plan_external_id":"","event_date":"2022-05-18T09:48:34Z","effective_date":"2021-12-30T00:01:00Z","event_type":"subscription_cancelled","external_id":"test_ev_id_delete_1","errors":{},"created_at":"2022-05-27T21:54:15Z","updated_at":"2022-05-27T21:54:15Z","quantity":"","currency":"","amount_in_cents":"","tax_amount_in_cents":null,"retracted_event_id":null}],"meta":{"next_key":null,"prev_key":null,"before_key":"2022-05-27T21:54:15.757Z","page":1,"total_pages":1}}'
  recorded_at: Fri, 27 May 2022 21:54:15 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/subscription_events?subscription_event%5Bid%5D=138979493
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 May 2022 21:54:16 GMT
[...]
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/data_sources/ds_8c554802-de07-11ec-94f4-e390518bbd37
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic hidden
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 May 2022 21:54:16 GMT
recorded_with: VCR 5.1.0
