---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"Test Data Source"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZTk5MGJkMjNmNTQzYWNjZGY3ZDg4Yjk2OWNiMzAwOWI6NWM4YThlY2UxMTFmYmE4NTE1MGVmNzBjYmZmM2I3ZWI=
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5621b5bd639d8cf3876eddd3c3617ee5"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072","name":"Test Data
        Source","created_at":"2016-06-05T18:52:00.931Z","status":"never_imported"}'
  recorded_at: Sun, 05 Jun 2016 18:52:01 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZTk5MGJkMjNmNTQzYWNjZGY3ZDg4Yjk2OWNiMzAwOWI6NWM4YThlY2UxMTFmYmE4NTE1MGVmNzBjYmZmM2I3ZWI=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1fdf50f6c3b08eb62b8a2c10956df8f5"
    body:
      encoding: UTF-8
      string: '{"data_sources":[{"uuid":"ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072","name":"Test
        Data Source","created_at":"2016-06-05T18:52:00.931Z","status":"never_imported"}]}'
  recorded_at: Sun, 05 Jun 2016 18:52:01 GMT
- request:
    method: delete
    uri: https://api.chartmogul.com/v1/import/data_sources/ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZTk5MGJkMjNmNTQzYWNjZGY3ZDg4Yjk2OWNiMzAwOWI6NWM4YThlY2UxMTFmYmE4NTE1MGVmNzBjYmZmM2I3ZWI=
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 05 Jun 2016 18:52:01 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/import/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZTk5MGJkMjNmNTQzYWNjZGY3ZDg4Yjk2OWNiMzAwOWI6NWM4YThlY2UxMTFmYmE4NTE1MGVmNzBjYmZmM2I3ZWI=
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fff2ed4cc06b2b7851a2db975ef7e229"
    body:
      encoding: UTF-8
      string: '{"data_sources":[]}'
  recorded_at: Sun, 05 Jun 2016 18:52:11 GMT
recorded_with: VCR 3.0.3
