---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/data_sources
    body:
      encoding: UTF-8
      string: '{"name":"TestDS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZHVtbXktdG9rZW46ZHVtbXktdG9rZW4=
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5621b5bd639d8cf3876eddd3c3617ee5"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072","name":"TestDS","created_at":"2016-06-05T18:52:00.931Z","status":"never_imported"}'
  recorded_at: Tue, 03 Jan 2017 22:49:40 GMT
- request:
    method: get
    uri: https://api.chartmogul.com/v1/data_sources/ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZHVtbXktdG9rZW46ZHVtbXktdG9rZW4=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5621b5bd639d8cf3876eddd3c3617ee5"
    body:
      encoding: UTF-8
      string: '{"uuid":"ds_5ee8bf93-b0b4-4722-8a17-6b624a3af072","name":"TestDS","system": "Import API", "created_at":"2016-06-05T18:52:00.931Z","status":"never_imported"}'
  recorded_at: Tue, 03 Jan 2017 22:49:40 GMT
recorded_with: VCR 3.0.3
