---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/customers?external_id=unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"entries":[],"current_page":1,"total_pages":1,"has_more":false,"per_page":200,"page":1,"cursor":null}'
  recorded_at: Sun, 29 Oct 2023 21:14:11 GMT
recorded_with: VCR 5.1.0
