---
http_interactions:
- request:
    method: get
    uri: https://api.chartmogul.com/v1/metrics/mrr?end-date=2015-02-01&start-date=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic hidden
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"entries":[{"date":"2015-01-01","mrr":0,"mrr-new-business":0,"mrr-expansion":0,"mrr-contraction":0,"mrr-churn":0,"mrr-reactivation":0},{"date":"2015-01-02","mrr":0,"mrr-new-business":0,"mrr-expansion":0,"mrr-contraction":0,"mrr-churn":0,"mrr-reactivation":0},{"date":"2015-01-03","mrr":0,"mrr-new-business":0,"mrr-expansion":0,"mrr-contraction":0,"mrr-churn":0,"mrr-reactivation":0},{"date":"2015-01-04","mrr":0,"mrr-new-business":0,"mrr-expansion":0,"mrr-contraction":0,"mrr-churn":0,"mrr-reactivation":0},{"date":"2015-01-05","mrr":0,"mrr-new-business":0,"mrr-expansion":0,"mrr-contraction":0,"mrr-churn":0,"mrr-reactivation":0},{[...]
