---
http_interactions:
- request:
    method: post
    uri: https://api.chartmogul.com/v1/import/plans
    body:
      encoding: UTF-8
      string: '{"data_source_uuid":null,"name":null,"interval_count":null,"interval_unit":null,"external_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ODE2MjZkMWFiMzU5NTIwMzY5MjhjNjJjYmJiNDMyN2M6ODY3MDRmMDdkYzQwZmYzYjYyYzRjY2E5OTYxMjk2MzY=
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"name":"A unique name is required for each plan.","interval_count":"is
        not a number","interval_unit":"Only ''day'', ''month'' or ''year'' are valid
        values for interval_unit.","data_source_uuid":"A valid data source UUID is
        required for each plan."}}'
  recorded_at: Sun, 05 Jun 2016 19:47:08 GMT
recorded_with: VCR 3.0.3
